# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env


# Python
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/

# Azure specific files (if any)
*.zip
*.bak

